body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(135deg, #fff8dc, #ffffff);
    margin: 0;
}

.container {
    width: 90%;
    margin: 40px auto;
    text-align: center;
}

h1 {
    color: #c59d00;
}

/* input file */
input[type="file"] {
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

/* table */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

th {
    background: #ffe066;
    padding: 12px;
}

td {
    padding: 10px;
    border-bottom: 1px solid #eee;
}

tr:hover {
    background: #fff3bf;
}

td:last-child {
    color: #c59d00;
    font-weight: 600;
}
